body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #1a2234; */
  background-color: #f9f9f9;
}

main {
  max-width: 900px;
  margin: 50px auto;
}

code {
  font-family: source-code-pro, monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

p, label, input {
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.8);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

label {
  text-transform: capitalize;
}

input {
  margin: 0 5px;
  font: inherit;
  background: none;
  border: none;
  border-bottom: 2px solid #3E50B4;
  text-align: right;
}

input:hover, input:focus, input:active {
  -webkit-appearance: none;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
}